<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Value</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        {% for error in form.photo.errors %}
            <span style="color:red">{{error}}</span>
        {%endfor%}
        <div>
            <div>
                {{form.photo()}}
            </div>
            <div>
                {{form.submit()}}
            </div>
        </div>
    </form>

    {% if file_url %}
        <div>
            <img src="{{ file_url }}" style="width: 300px">
        </div>
    {% endif %} 

    {% if similarity_results %}
    <h3>Top Matches:</h3>
    <ul>
        {% for ref_img, score in similarity_results %}
            <li>
                <img src="{{ url_for('static', filename='bills_db/' + ref_img.split('/')[-1]) }}" style="width:200px">
                {{ (score * 100) | round(2) }}%
            </li>
        {% endfor %}
    </ul>
{% endif %}
</body>
</html>